* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #f2f2f2;
}

body {
    padding: calc(2 * min(1vw, 1vw));
}
  
  .scroll-container,
  .scroll-area {
    max-width: 850px;
    height: 600px;

    width: calc(100vw - 4 * min(1vw, 1vw));
    height: calc(calc(100vw - 4 * min(1vw, 1vw)) * 16 / 9);
    font-size: 60px;
  }
  
  .scroll-container {
    overflow: auto;
    -webkit-scroll-snap-type: y mandatory;
        -ms-scroll-snap-type: y mandatory;
            scroll-snap-type: y mandatory;

    transition: 10s;
  }
  
  .scroll-area {
    scroll-snap-align: start;
  }
  
  .scroll-container,
  .scroll-area {
    margin: 0 auto;
  }
  
  .scroll-area {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* color: white; */
    padding: calc(20 * min(1vw, 1vw));
  }
  
  .scroll-area:nth-of-type(1) {
    background: #49b293 url(photo_2023-08-16_18-19-09.jpg) center no-repeat;
    background-size: contain;
  }
  
  .scroll-area:nth-of-type(2) {
    background: #c94e4b url(photo_2023-08-16_18-19-09.jpg) center no-repeat;
    background-size: contain;
  }
  
  .scroll-area:nth-of-type(3) {
    background: #4cc1be url(photo_2023-08-16_18-19-09.jpg) center no-repeat;
    background-size: contain;
  }
  
  .scroll-area:nth-of-type(4) {
    background: #8360A6 url(photo_2023-08-16_18-19-09.jpg) center no-repeat;
    background-size: contain;
  }
  